.webp{
	#section-1{
		background-image: url(../images/bg/section-1-bg.webp);
	}
	#section-3{
		background-image: url(../images/bg/section-3-bg.webp);
	}	
	#section-6{
		background-image: url(../images/bg/section-6-bg.webp);
	}
	#section-7{
		background-image: url(../images/bg/section-7-bg.webp);
	}
	#section-8{
		background-image: url(../images/bg/section-8-bg.webp);
	}
	#section-10{
		background-image: url(../images/bg/section-10-bg.webp);
	} 
}

.section{
	background-size: cover;
	background-repeat: no-repeat;
}


#section-1{
	background-color: #0a0a1f;
	background-image: url(../images/bg/section-1-bg.jpg);
	padding-bottom: 50px;
	@media (min-width: 1600px) {
		min-height: 1128px;
	}
}	

#section-3{
	background-image: url(../images/bg/section-3-bg.jpg);
	background-color: #0b6be4;
	@media (min-width: 1600px) {
		min-height: 797px;
	}
	.container{
		background: url(../images/timer.png) no-repeat;
		background-position: 60px 20px;
	}
}	


#section-4{
	background-color: #031229;
}

#section-6{
	background-image: url(../images/bg/section-6-bg.jpg);
	background-color: #0e2580;
	min-height: 780px
}

#section-7{
	background-image: url(../images/bg/section-7-bg.jpg);
	background-color: #0b1521;
	min-height: 1085px;
}

#section-8{
	background-image: url(../images/bg/section-8-bg.jpg);
	background-color: #f5f4f1;
	min-height: 756px;
}

#section-10{
	background-image: url(../images/bg/section-10-bg.jpg);
	background-color: #1f2744;
	min-height: 660px;
}