.webp{
	#section-1{
		background-image: url(../images/bg/section-1-bg.webp);
	}	
}

#section-1{
	background-color: #0a0a1f;
	background-image: url(../images/bg/section-1-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 1128px;
}	