/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	font-family: 'proxima-nova', sans-serif;
	font-size: 15px;
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.d-grid{
	display: flex;
}

.main-grid{
	height: 100%;
	display: flex;
	flex-direction: column;
	.main{
		flex-grow: 1;
	}		
}

@supports (display:grid) {
	.d-grid{
		display: grid;
	}
	.main-grid{
		height: auto;
		min-height: 100vh;
		display: grid;
		grid-template-areas: "header"
							 "main"
							 "footer";
		grid-template-rows: auto 1fr auto;
	}


	// @media (min-width: 992px){
	// 	.grid-lg-2{
	// 		grid-template-columns: repeat(2, 1fr);
	// 		grid-row-gap: 30px;
	// 	}	
	// 	.grid-lg-3{
	// 		grid-template-columns: repeat(3, 1fr);
	// 		grid-row-gap: 30px;
	// 	}		
	// 	.d-lg-grid{
	// 		display: grid !important;
	// 	}
	// }
	// @media (min-width: 1250px){
	// 	.grid-xl-6{
	// 		grid-template-columns: repeat(6, 1fr)
	// 	}		
	// }
}



/*** standart classes *****/
p{}
a{color:#020000; transition: .3s}
h1{font-size:2.5rem}
h2{font-size: 26px; font-weight: 700;}
h3{font-size:1.6rem}

.regular{
	font-family: "SegoeUIRegular";	
}



.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}



.btn{
	$radius: 60px;
	height: $radius;
	border-radius: $radius;
	background: none;
	position: relative;
	font-size: 18px;
	padding: 0 28px;


	align-items: center;
	border: none;
	cursor: pointer;
	display: flex;
	font-weight: bold;
	justify-content: center;
	transition: background-color .3s;
	z-index: 2;

	&:hover{
		span{
			background: none;
		}
	}


	&-blue{
		background-color: $color5;
		color: $color2;
	}
	&-red{
		background-color: $color3;
		color: $color2;
	}
	&-turqueise{
		background-color: $color4;
		color: $color1;
	}
	&-white{
		background-color: #fff;
		color: $color1;
	}
	&-bg-turqueise{
		box-shadow: 3px 3px 0px 0px $color4;
		&:hover{
			background-color: $color4;
			color: $color1;
		}
	}
	&-bg-red{
		box-shadow: 3px 3px 0px 0px $color3;
		&:hover{
			background-color: $color3;
			color: $color2;
		}
	}
}


.extra-toggle{
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	margin-right: 28px;
	padding: 0;
	width: 32px;

	.icon-bar{
		background-color: $color3;
		border-radius: 4px;
		display: block;
		height: 4px;
		margin: 6px 0;
		transition: background-color .3s;
	}

	&:hover{
		.icon-bar{
			background-color: $color4;
		}
	}
}


.header{
	padding-top: 30px;
	padding-bottom: 10px;
	.qorder{
		$radius: 5rem;	
		border-radius: $radius;
		height: $radius;
		margin-left: 4.5rem;
		font-size: 16px;
		padding: 0 2.4rem;
	}
	.contacts{
		color: $color2;
	}
}

.header,
.footer{
	.logo{
		align-items: center;
		border: 3px solid $color4;
		color: $color2;
		display: flex;
		font-family: "Proxima Nova - Black";
		font-size: 30px;
		height: 60px;
		justify-content: center;
		position: relative;
		width: 206px;
		&:after{
			@extend .before;
			border-bottom: 3px solid $color4;
			bottom: -10px;
			left: -3px;
			right: -3px;
		}
	}
}

.title{
	line-height: 1;
	font-size: 50px;
	font-weight: 400;
	font-family: "Proxima Nova - Black", sans-serif;
	&-black{
		color: $color1;
	}
	&-white{
		color: $color2;
	}
}

.text{
	&-black{
		color: $color1;
	}
	&-white{
		color: $color2;
		a{
			color: currentColor;
		}
	}

	&-red{
		color: #f00 !important;
	}
}



/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.cl-effect-11 a {
	color: $color4;
	position: relative;
	text-shadow: none;
}

.cl-effect-11 a::before {
	border-bottom: 2px solid $color4;
	color: $color2;
	content: attr(data-hover);
	left: 0;
	max-width: 100%;
	overflow: hidden;
	position: absolute;
	transition: max-width 0.5s;
	z-index: 100;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
	max-width: 0;
}


.mainnav{
	font-size: 17px;
	font-weight: 700;
	li{
		margin: 0 20px;		
	}
	.menu-item{
		a {
			transition: .3s;
			white-space: nowrap;
		    position: relative;
		    // z-index: 100;
			&:hover{
				// color: $color2;
				text-decoration: none;
			}
		}
	}
}

.half-redline{
	color: $color2;
	display: inline-block;
	margin-left: 2px;
	position: relative;
	&:before{
		@extend .before;
		background-color: $color3;
		left: -4px;
		bottom: 0;
		height: 50%;
		width: calc(100% + 8px);
		z-index: 1;
	}
	span{
		position: relative;
		z-index: 2;
	}
}

.half-turqueise{
	display: inline-block;
	position: relative;
	&:before{
		@extend .before;
		background-color: $color4;
		bottom: 0;
		height: 50%;
		left: -4px;
		width: calc(100% + 8px);
		z-index: 1;
	}
	span{
		position: relative;
		z-index: 2;
	}
}

.half-white{
	display: inline-block;
	position: relative;
	&:before{
		@extend .before;
		background-color: $color2;
		bottom: 0;
		height: 50%;
		left: -4px;
		width: calc(100% + 8px);
		z-index: 1;
	}
	span{
		position: relative;
		z-index: 2;
	}
}



.policy{
	color: #cfcae1;
	font-style: italic;
	font-size: 13px;
	font-weight: 400;
	margin-top: 2.2rem;
}


form{
	$pl: 0;
	.input-field{
		position: relative;	
		&:before{
			bottom: 15px;
		}	
		label{
			-moz-user-select: none;
			color: $color2;
			font-weight: 300;
			cursor: text;
			font-size: 17px;
			opacity: 1;
			overflow: hidden;
			position: absolute;
			padding-left: 0;
			text-overflow: ellipsis;
			top: 7px;
			transform-origin: left top 0;
			transform: translate3d(0, 9px, 0px);
			transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
			white-space: nowrap;
			width: calc(96% - 10px);	
		}	
		.name-field{
			opacity: 0;
			color: #8bab9d;
		}

		.helper-field{
		}
	}

	.is-focused{
		label{
			@include transform(translate3d(0,-12px,0) scale(.8));
		}
		.name-field{
			opacity: 1;
		}
		.helper-field{
			opacity: 0;
		}
		.form-control{
			border-bottom-color: $color4;
		}
	}

	.input-field.is-charged:not(.is-focused) > label.name-field{
		@include transform(translate3d(0px, -7px, 0px) scale(0.8));
	}

	.is-charged{
		label{
			opacity: 0;
		}
		.helper-field{
			opacity: 0
		}
	}

	.form-control{
		background: none;
		border: none;
		border-bottom: 2px solid #fff;
		color: #fff;
		font-size: 17px;
		height: 54px;
		margin-right: 38px;
		outline: none;
		padding-left: $pl;
		width: 260px;
	}
}

.excerption{
	border: 10px solid $color4;
	font-size: 20px;
	font-weight: 700;
	margin: 30px 0;
	padding: 18px 14px;
}





nav{
	a{
		color: $color2;
	}
}


/* =/section1
---------------------------*/


.footer{
	background-color: #00101e;
	font-size: 15px;
	padding: 3.2rem 0;
	.btn{
		font-size: 16px;
		height: 50px;
	}

	.copyright{
		padding-left: 50px;
		padding-right: 50px;
	}
	.contacts{
		margin-right: 37px;
	}
	.tel{
		color: $color2;
		font-size: 30px;
		font-weight: 700;
		&:hover{
			text-decoration: none;
		}
	}

	@media (max-width: 1600px) {
		.copyright{
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	@media (min-width: 1250px) and (max-width: 1500px) {
		.left{
			flex-basis: auto;
			flex-grow: 1;
			max-width: calc(100% - 280px);
		}
		.right{
			max-width: 280px;
			flex-basis: 280px;
			flex-shrink: 0;
		}
	}
	@media (max-width: 1500px) {
		font-size: 14px;
		.right{
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}
		.contacts{
			margin-right: 0;
			text-align: center;
		}

		.tel{
			font-size: 25px;
		}
	}

	@media (max-width: 1300px) {
		.right{
		}
		.copyright{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.tab-content {
	> .tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
}


.o-popup-menu{
	.popup-menu{
		transform: translateY(0)
	}
}


.popup-menu{
	background: $color4;
	font-family: "Proxima Nova - Black";
	font-size: 25px;
	font-weight: 400;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 999;
	min-height: 580px;
	overflow: hidden;
	transition: transform .6s;
	transform: translateY(-140%);

	&-inner{
		overflow: auto;
		padding: 45px 0 40px;
		position: fixed;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
	}

	li{
		margin-bottom: 7px;
		padding-bottom: 7px;
		position: relative;
		&:after{
			@extend .before;
			border-bottom: 3px solid #fff;
			bottom: 0;
			height: 3px;
			left: 50%;
			margin-left: -25px;
			width: 51px;
		}
		&:last-child(){
			margin-bottom: 0;
			padding-bottom: 0;
			&:after{
				display: none;
			}
		}
	}

	a{
		color: #000000;
	}

	.close-menu{

		left: 60px;
		top: 45px;
	}
}

.close-menu{
	display: block;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	position: absolute;	
	width: 32px;
	height: 32px;
	z-index: 9999;
	svg{
		transition: transform .3s;
		transform-origin: center center;
		vertical-align: top;
	}
	line{
		stroke: #000;
		stroke-width: 3px;
	}
	&:hover{
		svg{
			transform: rotate(90deg);
		}
	}	
}


#qorder{
	.modal-dialog{
		max-width: 567px;
	}
	.modal-content{
		background-color: $color4;
		box-shadow: 0 0 30px $color4;
		padding: 43px 65px;
	}
	.title{
		color: #000000;
		font-family: "Proxima Nova - Black";
		font-size: 50px;
		font-weight: 400;
	}

	.subtitle{
		margin-top: 6px;
		font-size: 20px;
	}

	form{
		margin-top: 13px;
	}

	.form-control{
		border-bottom-color: $color5;
		color: $color1;
		width: 100%;
	}

	.btn-submit{
		margin-top: 27px;
	}

	form .input-field{
		margin-bottom: 15px;
		label{
			color: $color1;
		}
		&.is-charged,
		&.is-focused{
			.form-control{
				border-bottom-color: $color3;
			}
		}
	}

	.policy{
		color: #6b6b6b;
	}

	.close-menu{
		display: block;
		right: 20px;
		top: 23px;
	}
}


picture{
	img{
		max-width: 100%		
	}
}


