/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	font-family: 'proxima-nova', sans-serif;
	@include font-size(1.4);
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.d-grid{
	display: flex;
}

.main-grid{
	height: 100%;
	display: flex;
	flex-direction: column;
	.main{
		flex-grow: 1;
	}		
}

@supports (display:grid) {
	.d-grid{
		display: grid;
	}
	.main-grid{
		height: auto;
		min-height: 100vh;
		display: grid;
		grid-template-areas: "header"
							 "main"
							 "footer";
		grid-template-rows: auto 1fr auto;
	}


	// @media (min-width: 992px){
	// 	.grid-lg-2{
	// 		grid-template-columns: repeat(2, 1fr);
	// 		grid-row-gap: 30px;
	// 	}	
	// 	.grid-lg-3{
	// 		grid-template-columns: repeat(3, 1fr);
	// 		grid-row-gap: 30px;
	// 	}		
	// 	.d-lg-grid{
	// 		display: grid !important;
	// 	}
	// }
	// @media (min-width: 1250px){
	// 	.grid-xl-6{
	// 		grid-template-columns: repeat(6, 1fr)
	// 	}		
	// }
}



/*** standart classes *****/
p{}
a{color:#020000; transition: .3s}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

.regular{
	font-family: "SegoeUIRegular";	
}



strong,
.bold{
	font-weight: normal;
	font-family: "SegoeUIBold";
}
em, i, 
.italic{
	font-style: normal;
	font-family: "SegoeUIItalic";
}

strong em,
em strong
{
	font-weight: normal;
	font-family: "SegoeUIBoldItalic";
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {

}

.text-color-white{
	color: $color2;
}

.btn{
	$radius: 5rem;
	background: none;
	padding: 0;
	border: none;
	position: relative;
	display: block;
	span{
		align-items: center;
		border-radius: $radius;
		border: none;
		cursor: pointer;
		display: flex;
		font-size: 1.6rem;
		font-weight: bold;
		height: $radius;
		justify-content: center;
		margin: auto;
		padding: 0 2.4rem;
		position: relative;
		z-index: 2;
	}
	&:before{
		@extend .before;
		height: $radius;
		border-radius: $radius;
		left: 2px;
		top: 3px;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	&-blue{
		span{
			background-color: #0d2481;
			color: $color2;
		}
	}
	&-white{
		span{
			background-color: #fff;
			color: $color1;
		}
	}
	&-bg-turqueise{
		&:before{
			background-color: $color4;
		}
	}
	&-bg-red{
		&:before{
			background-color: $color6;
		}
	}
}

/* =section1
---------------------------*/


.header{
	padding-top: 3rem;
}

.title{
	line-height: 1.2;
	font-size: 4.4rem;
	font-weight: bold;
	&-black{
		color: $color1;
	}
	&-white{
		color: $color2;
	}
}

.text{
	&-black{
		color: $color1;
	}
	&-white{
		color: $color2;
		a{
			color: currentColor;
		}
	}	
}


#section-1{
	background-color: #060a2d;

	.contacts{
		.tel{
			color: $color2;
			font-size: 2rem;
			font-weight: bold; 
			&:hover{
				text-decoration: none;
			}
		}
		font-size: 1.3rem;
	}
}


#section-3{
	background-color: #0b6be4;
}

#section-4{
	background-color: #031229;
}

#section-6{
	background-color: #0d2481;
}

#section-7{
	background-color: #0b1521;
}

nav{
	a{
		color: $color2;
	}
}

/* =/section1
---------------------------*/


.footer{
	background-color: $color5;
	padding: 3.2rem 0;
}

.tab-content {
	> .tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
}