.container{
	margin-right: auto;
	margin-left: auto;
}

[class*="grid-"]{
	grid-row-gap: 30px;
	grid-column-gap: 30px;
}


@media (max-width: 767px) {
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
}


.container,
.container-big
{
	width: 100%;
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}


@media (min-width: 480px) {
	.container,
	.container-big{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 768px) {
	.container,
	.container-big{
		padding-left: 25px;
		padding-right: 25px;
	}
}
@media (min-width: 992px) {
	.container {
		// width: 940px;
	}

	.container,
	.container-big{
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (min-width: 1050px) {
	.container,
	.container-big{
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (min-width: 1150px) {
	.container {
		// width: 1050px;
	}
}


@media (min-width: 1199px) {
	.container {
		// width: 1100px;
	}

	.container-big{
		padding-left: 60px;
		padding-right: 60px;
	}
}


@media (min-width: 1280px) {
	.container {
		max-width: 100%;
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
	}
	.container-big{
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 100%;
		width: 100%;
		padding-left: 88px;
		padding-right: 88px;
	}
	.container-big{
		padding-left: 40px;
		padding-right: 40px;
	}
}





@media (min-width: 1600px) {
	.container {
		max-width: 100%;
		width: 100%;
		padding-left: 98px;
		padding-right: 98px;
	}
	.container-big{
		padding-left: 50px;
		padding-right: 50px;
	}
}




@media (min-width: 1700px) {
	.container {
		width: 1500px;
		max-width: 1500px;
	}
	.container-big{
		padding-left: 60px;
		padding-right: 60px;
	}
}

@media (min-width: 1850px) {
	.container {
		width: 1700px;
		max-width: 1700px;
	}
}



// @each $breakpoint in map-keys($grid-breakpoints) {
//   @include media-breakpoint-up($breakpoint) {
//     $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
// 	  	.d#{$infix}-grid{
// 	  		display: grid
// 	  	}
//   }
// }


// @each $breakpoint in map-keys($grid-breakpoints) {
//   @include media-breakpoint-up($breakpoint) {
//     $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

// 	@for $i from 1 through 12{
// 	  	.grid#{$infix}-#{$i}{
// 			grid-template-columns: repeat(#{$i}, 1fr);  		
			
// 	  	}
// 	}
//   }
// }