@media (max-width: 1600px){
	#section-1{
		.subtitle{
			font-size: 28px;
		}
		.content{
			font-size: 18px;
		}
	}

	.item__advantage{
		&-title{
			font-size: 18px;
		}
		&-text{
			font-size: 14px;
		}
	}


}


@media (max-width: 1050px){
	#section-1{
		.subtitle{
			font-size: 28px;
		}
		.content{
			font-size: 18px;
		}
	}

	.item__advantage{
		&-title{
			font-size: 17px;
		}
	}
}
