@media (max-width: 1750px){
	.mainnav li {
		margin: 0 15px;
	}
}

@media (max-width: 1700px){
	.extra-toggle{
		margin-right: 17px;
	}
}


@media (max-width: 1650px){
	#navbar{
		.menu-item:nth-child(2){
			display: none;
		}
	}
}


@media (max-width: 1600px){
	.title{
		font-size: 4.5rem;
	}
	h2{
		font-size: 24px;
	}
	#section-1 .contacts .tel{
		font-size: 22px;
	}
}

@media (max-width: 1550px){
	.mainnav li{
		margin: 0 12px;
	}
}


@media (max-width: 1550px){
	.mainnav {
		display: none;
	}
}

@media (max-width: 1250px){

	.excerption{
		font-size: 18px;
	}
	.title{
		font-size: 40px;
	}
}

@media (max-width: 1199px){
}

@media (max-width: 1050px){
	#section-1 .contacts .tel{
		font-size: 20px;
	}

	h2{
		font-size: 22px;
	}


	#section-12,
	.footer{ 
		display: none !important;
	}
}

@media (max-width: 991px){
	.title{
		font-size: 35px;
	}

	h2{
		font-size: 20px;
	}

	.btn{
		$radius: 45px;
		border-radius: $radius;
		height: $radius;
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 950px){
	.half{
		&-redline{
			&:before{
				display: none;
			}
		}
	}
}


@media (max-width: 767px){
	.title{
		font-size: 30px;
	}


	h2{
		font-size: 17px;
	}

	.content{
		margin-top: 15px;
	}
}

@media (max-width: 480px){
	.title{
		font-size: 26px;
	}
}
