@media (max-width: 1750px){
	.mainnav li {
		margin: 0 15px;
	}
}

@media (max-width: 1700px){
	.extra-toggle{
		margin-right: 17px;
	}
}


@media (max-width: 1650px){
	#navbar{
		.menu-item:nth-child(2){
			display: none;
		}
	}
}


@media (max-width: 1600px){
	.title{
		font-size: 4.5rem;
	}
	h2{
		font-size: 24px;
	}
	#section-1 .contacts .tel{
		font-size: 22px;
	}
}

@media (max-width: 1550px){
	.mainnav li{
		margin: 0 12px;
	}
}


@media (max-width: 1550px){
	.mainnav {
		display: none;
	}
}

@media (max-width: 1250px){

	.excerption{
		font-size: 18px;
	}
	.title{
		font-size: 40px;
	}
}


@media (max-width: 1050px){
	#section-1 .contacts .tel{
		font-size: 20px;
	}

	h2{
		font-size: 22px;
	}
}

@media (max-width: 991px){
	.title{
		font-size: 35px;
	}

	h2{
		font-size: 20px;
	}

	.btn{
		$radius: 45px;
		border-radius: $radius;
		height: $radius;
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.footer{
		.copyright{
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}

@media (max-width: 950px){
	.half{
		&-redline{
			&:before{
				display: none;
			}
		}
	}

	.footer{
		.tel{
			font-size: 20px;
		}
		.btn{
			font-size: 14px;
			height: 40px;
			white-space: nowrap;
		}
	}

	.header{
		.logo{
			font-size: 21px;
			height: 40px;
			white-space: nowrap;
			width: 145px;
		}
	}

	.footer{
		font-size: 13px;
		.logo{
			font-size: 14px;
			height: 30px;
			white-space: nowrap;
			width: 103px;
		}
	}
}


@media (max-width: 768px){
	#qorder{
		.title{
			font-size: 45px;
		}
		.subtitle{
			font-size: 18px;
		}
	}
}


@media (max-width: 767px){
	.title{
		font-size: 30px;
	}


	h2{
		font-size: 17px;
	}

	.content{
		margin-top: 15px;
	}

	.footer{
		.copyright{
			padding-left: 15px;
		}
		.logo{
			border-width: 2px;
			&:after{
				border-width: 2px;
				bottom: -7px;
			}
		}
		.left{
			flex-wrap: wrap;
			justify-content: center;
		}
		.data{
			display: flex;
			justify-content: center;
			line-height: 1.8;
			margin-top: 25px;
			width: 100%;
		}
		.right{
			flex-direction: row;
			margin-top: 23px;
			padding-left: 0;
			.contacts{
				padding-right: 15px;
			}
		}
	}


	.popup-menu{
		font-size: 20px;
		min-height: 520px;
	}
}



@media (max-width: 600px){
	#qorder{
		.modal-dialog{
			width: 98%;
		}
		.title{
			font-size: 35px;
		}
		.subtitle{
			font-size: 16px;
		}
	}

	.popup-menu{
		min-height: 460px;
		&-inner{
			padding-top: 20px;
		}
		.close-menu{
			left: 30px;
			top: 30px;
		}		
	}
	.send-popup{
		margin-left: 0;
		left: 2%;
		width: 96%;
		.thank{
			padding-left: 25px;
			padding-right: 30px;
			.title{
				font-size: 26px;
			}
		}
	}
}



@media (max-width: 480px){
	.title{
		font-size: 26px;
	}
	.popup-menu{
		font-size: 18px;
		.close-menu{
			left: 20px;
			top: 20px;
		}
	}

	#qorder{
		.modal-dialog{
			margin-left: 2%;
			width: 96%;
		}
		.modal-content,
		.thank{
			padding-left: 30px;
			padding-right: 30px;
		}
		.title{
			font-size: 32px;
		}
	}

	.send-popup{
		.thank{
			text-align: center;
		}
	}
}

@media (max-width: 400px){
	.footer{
		padding: 28px 0;
		text-align: center;
		.left{
			flex-direction: column;
			.copyright{
				margin-top: 15px;
			}
		}
		.data{
			margin-top: 15px;
		}
		.right{
			margin-top: 12px;
			flex-direction: column;
			.btn{
				margin-top: 10px;
			}
			.contacts{
				padding-right: 0;
			}
		}
	}

	.send-popup{
		.close-menu{
			right: 15px;
			top: 15px;
		}
		.title{
			font-size: 22px;
		}
		.thank{
			font-size: 14px;
		}
	}
	.popup-menu{
		font-size: 16px;
		min-height: 410px;
	}
}


@media (max-width: 360px){
	#qorder{
		.title{
			font-size: 28px;
		}
		.modal-content,
		.thank{
			padding-left: 20px;
		}
	}
}
