#section-10{
	.title{
		margin-bottom: 30px;
	}
	font-size: 20px;
	padding: 120px 0;

	p:not(.title){
		color: #cad3e4;
	}

	@media (max-width: 1280px){
		padding: 50px 0;
	}

	@media (max-width: 1050px){
		font-size: 15px;
	}

	@media (max-width: 768px){
		font-size: 14px;
	}

	@media (max-width: 480px){
		padding: 30px 0 25px;
		.title{
			font-size: 30px;
			margin-bottom: 15px;
		}
	}

	@media (max-width: 350px){
		.title{
			font-size: 26px;
			margin-bottom: 15px;
		}
		.content{
			text-align: center;
		}

		.btn{
			margin-left: auto;
			margin-right: auto;
		}
	}
}