#section-5{
	padding: 70px 0 55px;
	.subtitle{
		font-size: 30px;
		font-weight: 700;
		line-height: 1.2;
		margin-top: 10px;
		margin-bottom: 15px;
		padding-left: 14px;
		& > span:before{
			height: 26px;
			bottom: -8px;
		}
	}

	.content{
		font-size: 17px;
		line-height: 1.8;
	}


	@media (max-width: 1250px){
		.subtitle{
			font-size: 28px;
		}
	}

	@media (max-width: 768px){
		.subtitle{
			font-size: 22px;
		}		
		.content{
			font-size: 14px;
			line-height: 1.6;
		}
	}


	@media (max-width: 767px){
		.content{
			margin-top: 15px;
		}
	}

	@media (max-width: 550px){
		padding: 40px 0 15px;
		.half-turqueise{
			// padding-left: 0;
			&:before{
				// display: none !important;
			}
		}

	}

	@media (max-width: 400px){
		.content{
			text-align: center;
		}
		.subtitle{
			font-size: 20px;
		}
	}
}

.statistics{
	margin: 50px 0 0;
	.cell{
		padding-right: 50px;
		width: 25%;
	}
	&__title{
		color: $color5;
		font-family: "Proxima Nova - Black";
		font-size: 70px;
		font-weight: 400;
		line-height: 1.2;
	}
	&__text{
		font-size: 17px;
		font-weight: 700;
	}

	@media (max-width: 1600px){
		&__title{
			font-size: 60px;
		}
	}
	@media (max-width: 1250px){
		&__title{
			font-size: 50px;
		}
		&__text{
			font-size: 15px;
		}
	}
	@media (max-width: 991px){
		&__title{
			font-size: 44px;
		}
		.cell{
			padding-right: 30px;
		}
	}

	@media (max-width: 768px){
		&__title{
			font-size: 40px;
		}
		.cell{
			padding-right: 15px;
		}		
	}
	@media (max-width: 767px){
		flex-wrap: wrap;
		margin-top: 20px;
		.cell{
			margin-bottom: 15px;
			width: 50%;
		}
	}

	@media (max-width: 550px){
		&__text{
			font-size: 13px;
			padding-right: 20px;
		}		
		.cell{
			padding-right: 0;
		}
	}
	@media (max-width: 400px){
		&__title{
			font-size: 35px;
		}
		&__text{
			font-size: 12px;
			padding-right: 15px;
		}			
	}
}