//Отремонтируем за 1 день
#section-3{
	font-size: 17px;
	.container{
		padding-top: 60px;
		padding-bottom: 70px;
	}
	.content{
		padding-right: 110px;
	}

	.title{
		font-size: 50px;
		margin-bottom: 25px;
	}


	@media (max-width: 1600px){
		.title{
			font-size: 45px;
		}
		.content{
			padding-right: 50px;
		}	
	}

	@media (max-width: 1250px){
		font-size: 15px;
		.title{
			font-size: 40px;
		}
		.content{
			padding-right: 10px;
		}	
	}
}

