#section-1{
	.contacts{
		font-size: 1.4rem;
        position: relative;
        top: 10px;
		.tel{
			color: $color2;
			font-size: 24px;
			font-weight: bold; 
			margin-left: 2.5rem;
			&:first-child{
				margin-left: 0;
			}
			&:hover{
				text-decoration: none;
			}
		}
	}

	.title{
		color: $color2;
	}

	.subtitle{
		color: $color4;
		font-size: 30px;
		font-weight: 700;
		margin: 15px 0; 
	}

	.content{
		color: $color6;
		font-size: 20px;
		padding-top: 90px;
	}

	form{
		margin-top: 50px;
	}
	.btn-submit{
		margin-top: 28px;
	}
}



// advantages
.advantages{
	&__list{
		margin-top: 80px;
	}
	&__items{
		color: $color2;
		padding-right: 30px;
		width: 20%;
	}
}

.item__advantage{
	&-pic{
		height: 120px;	
	}
	&-title{
		font-size: 20px;
		margin: 2px 0 15px;
	}
	&-text{
		font-size: 15px;
		line-height: 1.6;
	}
}




@media (max-width: 1050px){
	.item__advantage{
		&-title{
			line-height: 1.3;
			margin-bottom: 10px;
		}
	}
}