#section-5{
	padding: 70px 0 55px;
	.subtitle{
		font-size: 30px;
		font-weight: 700;
		line-height: 1.2;
		margin-top: 10px;
		margin-bottom: 15px;
		padding-left: 14px;
		& > span:before{
			height: 26px;
			bottom: -8px;
		}
	}

	.content{
		font-size: 17px;
		line-height: 1.8;
	}


	@media (max-width: 1250px){
		.subtitle{
			font-size: 28px;
		}
	}
}

.statistics{
	margin: 50px 0 0;
	.cell{
		padding-right: 50px;
		width: 25%;
	}
	&__title{
		color: $color5;
		font-family: "Proxima Nova - Black";
		font-size: 70px;
		font-weight: 400;
		line-height: 1.2;
	}
	&__text{
		font-size: 17px;
		font-weight: 700;
	}

	@media (max-width: 1600px){
		&__title{
			font-size: 60px;
		}
	}
	@media (max-width: 1250px){
		&__title{
			font-size: 50px;
		}
		&__text{
			font-size: 15px;
		}
	}
}