#section-2{
	padding: 90px 0 70px;	

	.categories{
		box-shadow: 0 7px 15px rgba(63, 34, 11, 0.2);
		margin: 10px 0;
		padding: 22px 50px 28px; 
		.nav-item{
			background: none;
			border: none;
			color: $color7;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			font-weight: 700;
			justify-content: center;
			line-height: 1.2;
			outline: none;
			position: relative;
			text-align: center;
			img{
				display: block;
				margin: auto;
				transition: filter .3s;
			}
			&:before,
			&:after{
				@extend .before;
				opacity: 0;
				transition: opacity .3s;
			}


			&:hover{
				text-decoration: none;
				color: $color1;
				img{
					filter:brightness(0) grayscale(1);
				}				
			}

			&:hover,
			&.active{
				&:before{
					$s: 50px;
					background-color: $color4;
					height: $s;
					left: 50%;
					margin-left: -24px;
					opacity: 1;
					top: 32px;
					transform: rotate(45deg);
					width: $s;
					z-index: -1;
				}
			}

			&.active{
				color: $color1;
				img{
					filter:brightness(0) grayscale(1);					
				}

				&:after{
					background-color: $color3;
					height: 10px;
					left: -2px;
					opacity: 1;
					top: 131px;
					width: calc(100% + 10px);
				}
			}
		}
		.icon{
			display: flex;
			height: 55px;
			margin: 0  auto;
		}
	}

	.tab-content{
		padding-top: 25px;
	}

	.tab-pane{
		line-height: 1.7;
	}

	.group-buttons{
		margin-top: 25px;
		.btn{
			margin-right: 10px;
		}
	}
}

.content{
	ul{
		list-style: none;
		li{
			margin: 15px 0;
			padding-left: 43px;
			position: relative;
			&:before{
				@extend .before;
				background-color: $color4;
				height: 5px;
				left: 0;
				top: 10px;
				width: 22px;
			}
		}
	}
}