#section-6{
	padding: 110px 0 130px;
	.content{
		font-size: 17px;
	}

	.title{
		margin-bottom: 25px;
	}

	.diagnostics{
		margin-top: 30px;
		&__cell{
			padding: 15px 0 20px;
			position: relative;
			p{
				position: relative;

			}
			&:first-child{
				padding-right: 40px;
			}
			&:before{
				@extend .before;
				background: url(../images/cross.png) no-repeat left top;
				height: 124px;
				left: -60px;
				top: -10px;
				width: 124px;
			}
			&:after{
				@extend .before;
				background-color: $color9;
				height: 5px;
				left: 0;
				top: 0;
				width: 30px;
			}
		}
	}

	.excerption{
		margin-bottom: 35px;
	}

	@media (max-width: 1600px){
		padding: 70px 0 ;
		.diagnostics{
			&__cell{
				&:before{
					left: -30px;
				}
			}
		}
	}

	@media (max-width: 768px){
		padding: 45px 0;
		.content{
			font-size: 14px;
		}
		.excerption{
			font-size: 16px;
			line-height: 1.3;
		}
	}

	@media (max-width: 767px){
		.content{
			margin-top: 20px;
		}
		.btn{
			margin-left: auto;
			margin-right: auto;
		}
		.excerption{
			margin-top: 15px;
		}

		.diagnostics{
			&__cell{
				padding-bottom: 10px;
			}
		}
	}

	@media (max-width: 420px){
		.content{
			text-align: center;
		}
		.diagnostics{
			display: block !important;
			&__cell{
				margin-bottom: 20px;
				padding-bottom: 10px;
				width: 100%;
				&:after{
					left: 50%;
					margin-left: -15px;
				}
				&:before{
					background-image: url(../images/cross320.png);
					left: 50%;
					top: 5px;
					margin-left: -45px;
				}
			}
		}
		.excerption{
			margin-bottom: 15px;
		}
	}
}