#section-4{
	padding: 8rem 0 6rem;
	.content{
		font-size: 17px;
		padding-right: 115px;
		.title{
			padding-bottom: 15px;
		}
		p:not(.title){
			color: $color8;
		}
	}

	@media (min-width: 1250px) and (max-width: 1700px){
		padding-top: 5rem;
		.col-xl-5,
		.col-xl-7
		{
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	@media (max-width: 1600px) {
		.content{
			padding-right: 0;
		}
	}
}

.steps{
	&__list{
		margin-top: 30px;
		&:first-child(){
			margin-top: 10px;
		}

		.num{
			font-family: "Proxima Nova - Black";
			font-size: 40px;
		}

		.step{
			position: relative;
			width: 25%;
			&:before{
				@extend .before;
				background-color: $color4;
				height: 7px;
				right: 0;
				top: 34px;
				width: 100%;
			}

			&:first-child(),
			&:last-child()
			{
				&:before{
					width: 50%;
				}
			}
			&:last-child(){
				&:before{
					left: 0;
					right: auto;
				}
			}


			.num{
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 10px;
				padding-top: 8px;
			}

			.circle{
				align-items: center;
				background-color: $color5;
				border-radius: 50%;
				box-shadow: 2px 3px 0 #ff0035, inset 2px 4px 0 $color4;
				display: flex;
				height: 71px;
				justify-content: center;
				position: relative;
				width: 71px;
			}
		}
	}
	&__title{
		font-weight: 700;
		line-height: 1.4;
	}

	@media (min-width: 1250px) and (max-width: 1700px){
		&__list{
			&:first-child(){
				margin-top: 50px;
			}
			margin-top: 50px;
		}

	}

	@media (max-width: 1600px) {
		&__title{
			margin-left: auto;
			margin-right: auto;
			width: 220px;
		}	
	}

	@media (max-width: 1250px) {
		&__list{
			&:first-child(){
				margin-top: 35px;
			}
			margin-top: 35px;
		}
	}
}